h1 {border:20px;
    height:auto;
    width:auto; 

}

#day-container {
border:20px; 
height: auto;
width: auto; 
}

#forecastContainer { 
    display:flex; 
    border: solid;
    width:auto;
    height:500px;
}

.searchContainer { 
    border:solid grey 15px; 
    height:auto;
    width: auto;
    display: flex; 
    justify-content: end;

}

#dayCard-1 { 
    border:solid red 15px;
}

#dayCard-2 { 
    border:solid blue 15px;
}

#dayCard-3 { 
    border:solid purple 15px;
}

#dayCard-4 { 
    border:solid green 15px;
}

#dayCard-5 { 
    border:solid orange 15px;
}